* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header */
#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    color: #666666;
    border-bottom: 1px solid black;
    overflow: hidden;
}

#banner h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #666666;
    text-transform: uppercase;
}

#navlist {
    display: flex;
    gap: 20px;
    list-style: none;
}
a:hover{
    color: black;
    font-weight: 900;
}
#navlist li {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #666666;
    margin-right: 5%;
}

/* Main Content */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 10%;
    gap: 40px;
    flex-direction: column;
}

#landing {
    display: flex;
    justify-content: center;
}

#about {
    flex: 0.75;
}

#about p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #666666;
    line-height: 1.4;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: 900;
    color: #111;
    text-transform: capitalize;
}

#cv {
    background-color: black;
    color: white;
    font-weight: 600;
    width: 9em;
    height: 4em;
    border-radius: 10%;
    font-size: 1.1em;
}
#cv:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Image */
#photo {
    width: fit-content;
    height: auto;
    position: relative;
    left: 2em;
}

#photo img {
    width: 18em;
    height: 24em;
    border-radius: 25%;
}

/* Social Buttons */
#mybuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

#mybuttons li {
    list-style: none;
    overflow: hidden;
}

#mybuttons button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mybuttons button:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}  

#github {
    background-image: url("../images/Github.png");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

#linkedin {
    background-image: url("../images/linkedin.png");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

/* Links */
a {
    text-decoration: none;
    color: #666666;
}

.card-head-section{
    width: 60%;
    padding-top: 15em;
    position: absolute;
    bottom: 4em;
    left: 1.7em;
}
.header-line{
    width: 9%;
    padding-right: 4em;
    font-weight: 900;   
    background-color: black;
    border: none;
    height: 5px;
}
.card-header{
    display: flex;
    align-items: center;    
    padding-left: 10.5em;
}
h5{
    font-size: 2em;
    padding-left: 1em;
    text-transform: uppercase;
    font-weight: 900;
}

.card{
    width: 90%;
    justify-content: center;
    display: flex;
    margin-top: 15em;

}

.card-about{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #F5F5F5;
}

.card-photo{
        width:60%;
        padding: 2em;
        background-color: #F5F5F5;
}
.project-photo{
    width: 100%;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
#card-1{
    align-self: flex-start;
}
#card-2{
    align-self: flex-end;
}
#card-3{
    align-self: flex-start;
}

h6{
    font-size: 1.5em;
}

.card-about-header{
    display: flex;
    width: 100%;
    justify-content: center;
}

#logo {
    height: 35px;     
    width: 35px;        
    object-fit: contain; 
    margin-left: 10px;
    display: block;
}